.nav{
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
}
.navBar{
  position:sticky;
  top: 0;
  width:100%;
}
.left-nav,.right-nav{
display: inline-block;
}
.right-nav a {
    color: white;
    margin-left: 10px;
    text-decoration: none;
  }
li{
  display: inline;
}


  @media (max-width: 600px) {
    .navbar {
      flex-direction: column;
      align-items: center;
    }
    .left-nav, .right-nav {
      display: block;
      text-align: center;
    }
    .right-nav a {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }